<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>
<a href="/">Home</a>
<form action="/edit-entry" method="post">
    <label for="german-input">German</label>
    <input type="text" id="german-input" name="german" autocomplete="off" value="{{ entry.german }}"/>
    <label for="english-input">English</label>
    <input type="text" id="english-input" name="english" autocomplete="off" value="{{ entry.english }}"/>

    <label for="date-input">Date</label>
    <input type="date" id="date-input" name="date" value="{{ entry.date|format_dt('%Y-%m-%d') }}" />

    <br>

    <label for="entry-type-input">Type</label>
    <select id="entry-type-input" name="entry_type">
        {% for entry_type in entry_types %}
            <option value="{{ entry_type[0] }}" {% if entry.entry_type and entry.entry_type.code == entry_type[0] %}selected{% endif %}>{{ entry_type[1] }}</option>
        {% endfor %}
    </select>

    <label for="pos-input">PoS</label>
    <select id="pos-input" name="pos">
        <option selected value>part of speech</option>
        {% for pos_type in pos_types %}
            <option value="{{ pos_type[0] }}" {% if entry.pos and entry.pos.code == pos_type[0] %}selected{% endif %}>{{ pos_type[1] }}</option>
        {% endfor %}
    </select>

    <label for="pos-kv-input">PoS KV:</label>
    <input type="text" id="pos-kv-input" name="pos_kv_input" value="{% for pos_feature in entry.pos_features %}{{ pos_feature.key }}: {{ pos_feature.value }}{% if not loop.last %}, {% endif %}{% endfor %}"/>

    <label for="variant-of-input">Variant Of</label>
    <select id="variant-of-input" name="variant_of">
        <option selected value></option>
        {% for variant in entries %}
            <option value="{{ variant.id }}" {% if entry.variant_of_id and entry.variant_of_id == variant.id %}selected{% endif %}>{{ variant.german }} ({{ variant.english }})</option>
        {% endfor %}
    </select>

    <label for="component-of-input">Component Of</label>
    <select id="component-of-input" name="component_of" multiple>
        <option selected value></option>
        {% for component in entries %}
            <option value="{{ component.id }}" {% if entry.is_component_of(component.id) %}selected{% endif %}>{{ entry.is_component_of(component.id) }}{{ component.german }} ({{ component.english }})</option>
        {% endfor %}
    </select>

    <label for="group-input">Groups</label>
    <select id="group-input" name="groups" multiple>
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>

    <label for="new-group-name-input">New Group Name</label>
    <input type="text" id="new-group-name-input" name="new_group_name"/>

    <br>
    <button>Submit</button>
</form>
</body>
</html>