<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>
<a href="/">Home</a>
<a href="{{ url_for('edit_entry', entry_id=entry.id) }}">edit</a>
<h1>{{ entry.german }} - {{ entry.english }}</h1>
<p>German:
    {% if entry.german_audio_filepath %}
        <audio preload="none" id="audio-{{ entry.id }}-de">
            <source src="{{ url_for("get_media", filepath=entry.german_audio_filepath) }}"
                    type="audio/mpeg">
        </audio>
        <button onclick="document.getElementById('audio-{{ entry.id }}-de').play()">▶</button>
    {% endif %}
<p>English:
    {% if entry.english_audio_filepath %}
        <audio preload="none" id="audio-{{ entry.id }}-en">
            <source src="{{ url_for("get_media", filepath=entry.english_audio_filepath) }}"
                    type="audio/mpeg">
        </audio>
        <button onclick="document.getElementById('audio-{{ entry.id }}-en').play()">▶</button>
    {% endif %}

<p>Type: {{ entry.entry_type.value }}</p>
<p>PoS:
    {% if entry.pos %}
        {{ entry.pos.value }}
        <br>
        <small>
            {% for pf in entry.pos_features %}
                {{ pf.key }}: {{ pf.value }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </small>
    {% endif %}
<h2>Variants</h2>
{% if entry.variants %}
    <ul>
        {% for variant in entry.variants %}
            <li><a href="{{ url_for("get_entry", entry_id=variant.id) }}">{{ variant.german }}</a>
                {% if entry.pos %}<br>
                    <small>
                        {% for pf in entry.pos_features %}
                            {{ pf.key }}: {{ pf.value }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if entry.variant_of %}
    <p>Variant of</p> <a href="{{ url_for("get_entry", entry_id=variant_of.id) }}">{{ variant_of.german }}</a>
{% endif %}
<h2>Components</h2>
{% if entry.components %}
    <ul>
        {% for component in entry.components %}
            <a href="{{ url_for("get_entry", entry_id=component.id) }}">{{ component.german }}</a>
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </ul>
{% endif %}
<h3>Component of</h3>
{% if entry.component_ofs %}
    <ul>
        {% for component in entry.component_ofs %}
            <a href="{{ url_for("get_entry", entry_id=component.id) }}">{{ component.german }}</a>
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </ul>
{% endif %}
<h2>Groups</h2>
{% if entry.groups %}
    <ul>
        {% for group in entry.groups %}
            <li><a href="{{ url_for("get_group", group_id=group.id) }}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>