<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Words</title>
</head>
<body>
<a href="/">Home</a>
<h1>{{ group.name }}</h1>
{% for entry in group.entries %}
    <li><a href="{{ url_for("get_entry", entry_id=entry.id) }}">{{ entry.german }} - {{ entry.english }}</a></li>
{% endfor %}
</body>
</html>