<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Words</title>
</head>
<body>
<form action="/create-entry" method="post">
  <label for="german-input">German</label>
  <input type="text" id="german-input" name="german" autocomplete="off"/>
  <label for="english-input">English</label>
  <input type="text" id="english-input" name="english" autocomplete="off"/>

  <label for="date-input">Date</label>
  <input type="date" id="date-input" name="date"/>

  <br>

  <label for="entry-type-input">Type</label>
  <select id="entry-type-input" name="entry_type">
    {% for entry_type in entry_types %}
      <option value="{{ entry_type[0] }}">{{ entry_type[1] }}</option>
    {% endfor %}
  </select>

  <label for="pos-input">PoS</label>
  <select id="pos-input" name="pos">
    <option selected value>part of speech</option>
    {% for pos_type in pos_types %}
      <option value="{{ pos_type[0] }}">{{ pos_type[1] }}</option>
    {% endfor %}
  </select>

  <label for="pos-kv-input">PoS KV:</label>
  <input type="text" id="pos-kv-input" name="pos_kv_input"/>

  <label for="variant-of-input">Variant Of</label>
  <select id="variant-of-input" name="variant_of">
    <option selected value></option>
    {% for entry in entries %}
      <option value="{{ entry.id }}">{{ entry.german }} ({{ entry.english }})</option>
    {% endfor %}
  </select>

  <label for="component-of-input">Component Of</label>
  <select id="component-of-input" name="component_of" multiple>
    <option selected value></option>
    {% for entry in entries %}
      <option value="{{ entry.id }}">{{ entry.german }} ({{ entry.english }})</option>
    {% endfor %}
  </select>

  <label for="group-input">Groups</label>
  <select id="group-input" name="groups" multiple>
    {% for group in groups %}
      <option value="{{ group.id }}">{{ group.name }}</option>
    {% endfor %}
  </select>

  <label for="new-group-name-input">New Group Name</label>
  <input type="text" id="new-group-name-input" name="new_group_name"/>

  <br>
  <button>Submit</button>
</form>

<hr>
<div id="entries">
  <table class="list">
    <tr>
      <th></th>
      <th>date</th>
      <th>german</th>
      <th>english</th>
      <th>pos</th>
    </tr>
    {% for entry in entries %}
      <tr>
        <td><a href="{{ url_for('edit_entry', entry_id=entry.id) }}">e</a></td>
      <td class="date">{{ entry.date|format_dt("%d-%m") }}</td>
      <td class="german">
        <h3><a href="{{ url_for("get_entry", entry_id=entry.id) }}">{{ entry.german }}</a></h3>
        {% if entry.german_audio_filepath %}
          <audio preload="none" id="audio-{{ entry.id }}-de">
            <source src="{{ url_for("get_media", filepath=entry.german_audio_filepath) }}"
                    type="audio/mpeg">
          </audio>
          <button onclick="document.getElementById('audio-{{ entry.id }}-de').play()">▶</button>
        {% endif %}
      </td>
      <td class="english">
        <h3><a href="{{ url_for("get_entry", entry_id=entry.id) }}">{{ entry.english }}</a></h3>
        {% if entry.english_audio_filepath %}
          <audio preload="none" id="audio-{{ entry.id }}-en">
            <source src="{{ url_for("get_media", filepath=entry.english_audio_filepath) }}"
                    type="audio/mpeg">
          </audio>
          <button onclick="document.getElementById('audio-{{ entry.id }}-en').play()">▶</button>
        {% endif %}
      </td>
      <td class="pos">
        {% if entry.pos %}
          {{ entry.pos.value }}
          <br>
          <small>
            {% for pf in entry.pos_features %}
              {{ pf.key }}: {{ pf.value }}{% if not loop.last %},{% endif %}
            {% endfor %}
          </small>
        {% endif %}
      </td>
    {% endfor %}
    </tr>
  </table>
</div>
<script>
  document.getElementById('date-input').value = new Date().toISOString().split("T")[0];
</script>
</body>
</html>